body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #e84949;
}

/* Стили для всех прямоугольников */
.rectangle {
  position: relative;
}

/* Стили первого слайда */

.section1 #glavn1 {
  background-image: url("../images/glavnn.svg");
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2px;
}

/* Стили второго слайда */

.section2 #nachert {
  background-image: url("../images/linee.svg");
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mini-rectangle {
  position: absolute;
  width: 625px;
  height: 126px;
  background-color: #fbf6ea;
  border: 1px solid #fbf6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #2e358d;
  top: 502px;
  left: 407px;
}
.text-under {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 600px;
  text-align: center;
}

.text-left {
  position: absolute;
  top: 465px;
  left: 70px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #2e358d;
  max-width: 500px;
  text-align: left;
}
.triangle {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-bottom: 75px solid #e84949;
}

.triangle2 {
  position: absolute;
  bottom: 0px;
  left: -17px;
  width: 0;
  height: 0;
  border-right: 89px solid transparent;
  border-bottom: 75px solid #e84949;
}

/* Стили третьего слайда */

.section3 #tarelka {
  background-image: url("../images/tarelkaa.svg");
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mini-rectangle3 {
  transform: rotate(8deg);
  position: absolute;
  width: 418px;
  height: 126px;
  background-color: #2e358d;
  border: 1px solid #2e358d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #fbf6ea;
  top: 86.5px;
  left: 515.44px;
}
.text-left3 {
  position: absolute;
  top: 792px;
  left: 455px;

  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #2e358d;
  max-width: 581px;
}

.textnaklon {
  transform: rotate(32deg);
  display: inline-block;
  position: absolute;
  top: 160px;
  left: -10px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 70px;
  max-width: 619px;
  color: #fbf6ea;
}

.textnaklon2 {
  transform: rotate(-9deg);
  display: inline-block;
  position: absolute;
  top: 594px;
  left: 16px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 70px;
  max-width: 619px;
  color: #fbf6ea;
}

.textnaklon3 {
  transform: rotate(-33deg);
  display: inline-block;
  position: absolute;
  top: 162px;
  left: 860px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 70px;
  max-width: 1000px;
  color: #fbf6ea;
}

.textnaklon4 {
  transform: rotate(10deg);
  display: inline-block;
  position: absolute;
  top: 595px;
  left: 946px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 70px;
  max-width: 700px;
  color: #fbf6ea;
}

.big {
  transform: rotate(5deg);
  display: inline-block;
  position: absolute;
  top: 322px;
  left: 586px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 116px;
  color: #2e358d;
}

.big2 {
  transform: rotate(-26deg);
  display: inline-block;
  position: absolute;
  top: 325px;
  left: 740px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 116px;
  color: #2e358d;
}

.big3 {
  transform: rotate(-9deg);
  display: inline-block;
  position: absolute;
  top: 424px;
  left: 681px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 116px;
  color: #2e358d;
}
.big4 {
  transform: rotate(32deg);
  display: inline-block;
  position: absolute;
  top: 490px;
  left: 790px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 116px;
  color: #2e358d;
}
/* Стили четвертого слайда */
.section4 #bottel {
  background-image: url("../images/bottel2.svg");
  background-size: cover;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -95px;
}

#bottel {
  position: relative;
}

.section4Text {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
}
/* Контейнеры для кружков */
.circles1,
.circles2 {
  position: relative;
  width: 100%;
  height: 400px;
}

/* Общие стили для всех кружков */
.circle {
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  color: #2e358d;
  background-color: #fbf6ea;
}

.circle-empty-1 {
  font-weight: bold;
  width: 80px;
  height: 80px;
  border: 25px solid #2e358d;
  top: 49px;
  left: 1185px;
}

.circle-empty-2 {
  width: 85px;
  height: 85px;
  border: 15px solid #2e358d;
  top: 10px;
  left: 1118px;
}

.circle-empty-3 {
  font-weight: bold;
  width: 80px;
  height: 80px;
  border: 25px solid #2e358d;
  top: -70px;
  left: 1210px;
}

.circle-empty-4 {
  font-weight: bold;
  width: 59px;
  height: 59px;
  border: 11px solid #2e358d;
  top: -300px;
  left: 1110px;
}

.circle-empty-5 {
  font-weight: bold;
  width: 55px;
  height: 55px;
  border: 8px solid #2e358d;
  top: -210px;
  left: 1160px;
}

.circle-empty-6 {
  width: 70px;
  height: 70px;
  border: 15px solid #2e358d;
  top: -240px;
  left: 1205px;
}

.circle-empty-7 {
  font-weight: bold;
  width: 80px;
  height: 80px;
  border: 15px solid #2e358d;
  top: -248px;
  left: 1225px;
}
.circle-empty-8 {
  font-weight: bold;
  width: 45px;
  height: 45px;
  border: 8px solid #2e358d;
  top: -400px;
  left: 1290px;
}

.circle-number-1 {
  font-weight: bold;
  width: 70px;
  height: 70px;
  border: 20px solid #2e358d;
  top: 30px;
  left: -540px;
}

.circle-number-2 {
  width: 65px;
  height: 65px;
  border: 9px solid #2e358d;
  top: -10px;
  left: -465px;
}

.circle-number-3 {
  font-weight: bold;
  width: 70px;
  height: 70px;
  border: 20px solid #2e358d;
  top: -60px;
  left: -560px;
}

.circle-number-4 {
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 8px solid #2e358d;
  top: -125px;
  left: -460px;
}

.circle-number-5 {
  width: 45px;
  height: 45px;
  border: 9px solid #2e358d;
  top: -138px;
  left: -495px;
}

.circle-number-6 {
  font-weight: bold;
  width: 65px;
  height: 65px;
  border: 20px solid #2e358d;
  top: -180px;
  left: -580px;
}

.circle-number-7 {
  font-weight: bold;
  width: 30px;
  height: 30px;
  border: 10px solid #2e358d;
  top: -200px;
  left: -585px;
}

.mini-rectangle4 {
  transform: rotate(-8deg);
  width: 374px;
  height: 126px;
  background-color: #2e358d;
  border: 1px solid #2e358d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #fbf6ea;
}
.text-under4 {
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #2e358d;
  max-width: 663px;
  text-align: left;
}

/* Стили пятого слайда */

.images-stack {
  position: relative;
  width: 1440px;
  height: 900px;
  top: -10px;
}

.images-stack .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mini-rectangl5 {
  position: absolute;
  width: 530px;
  height: 126px;
  background-color: #fbf6ea;
  border: 1px solid #fbf6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #2e358d;
  top: 63px;
  left: 445px;
}
.text-under5 {
  position: absolute;
  top: 214px;
  left: 490px;
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 549px;
}
.text-left5 {
  position: absolute;
  top: 440px;
  left: 84px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 626px;
  text-align: left;
}
/* Стили шестого слайда */

.section6 #palochki {
  background-image: url("../images/paaloochki.svg");
  background-size: cover;
  width: 1440px;
  height: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mini-rectangle6 {
  position: absolute;
  width: 375px;
  height: 126px;
  background-color: #2e358d;
  border: 1px solid #2e358d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #fbf6ea;
  top: 32px;
  left: 532px;
}
.text-under6 {
  position: absolute;
  top: 187px;
  left: 577px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #2e358d;
  max-width: 360px;
  text-align: center;
}

.tilted-text {
  transform: rotate(10deg);
  display: inline-block;
  position: absolute;
  top: 228px;
  left: 160px;
  font-family: "Fira Code", monospace;
  font-size: 42px;
  color: #fbf6ea;
}

.tilted-text2 {
  transform: rotate(10deg);
  display: inline-block;
  position: absolute;
  top: 470px;
  left: 160px;
  font-family: "Fira Code", monospace;
  font-size: 42px;
  color: #fbf6ea;
}
.tilted-text3 {
  transform: rotate(10deg);
  display: inline-block;
  position: absolute;
  top: 716px;
  left: 160px;
  font-family: "Fira Code", monospace;
  font-size: 42px;
  color: #fbf6ea;
}

.tilted-text4 {
  transform: rotate(-10deg);
  display: inline-block;
  position: absolute;
  top: 350px;
  left: 1083px;
  font-family: "Fira Code", monospace;
  font-size: 42px;
  color: #fbf6ea;
}
.tilted-text5 {
  transform: rotate(-10deg);
  display: inline-block;
  position: absolute;
  top: 628px;
  left: 1163px;
  font-family: "Fira Code", monospace;
  font-size: 42px;
  color: #fbf6ea;
}

/* Стили седьмого слайда */
.custom-line {
  width: 1440px;
  height: 3px;
  background-color: #fbf6ea;
  position: absolute;
  top: 275px;
}
.custom-line2 {
  width: 1440px;
  height: 3px;
  background-color: #fbf6ea;
  position: absolute;
  top: 350px;
}
.custom-line3 {
  width: 1440px;
  height: 3px;
  background-color: #fbf6ea;
  position: absolute;
  top: 437px;
}
.custom-line4 {
  width: 1440px;
  height: 3px;
  background-color: #fbf6ea;
  position: absolute;
  top: 512px;
}
.custom-line5 {
  width: 1440px;
  height: 3px;
  background-color: #fbf6ea;
  position: absolute;
  top: 597px;
}

.big-letter {
  position: absolute;
  top: 210px;
  left: 121px;
  font-size: 467px;
  font-weight: bold;
  color: #fbf6ea;
}

.big-letter1 {
  position: absolute;
  top: 238px;
  left: 355px;
  font-size: 425px;
  font-weight: bold;
  color: #fbf6ea;
}
.big-letter2 {
  position: absolute;
  top: 210px;
  left: 806px;
  font-size: 465px;
  font-weight: bold;
  color: #fbf6ea;
}
.big-letter3 {
  position: absolute;
  top: 222px;
  left: 1098px;
  font-size: 451px;
  font-weight: bold;
  color: #fbf6ea;
}

/* Стили для линии */
.linee {
  position: absolute;
  z-index: 100;
  width: 1440px;
  height: auto;
  top: 42.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.mini-rectangle7 {
  position: absolute;
  width: 479px;
  height: 126px;
  background-color: #e84949;
  border: 1px solid #e84949;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #fbf6ea;
  top: 55px;
  left: 884px;
}
.textleft {
  position: absolute;
  top: 609px;
  left: 164px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 258px;
  text-align: center;
}

.textrit {
  position: absolute;
  top: 240px;
  left: 1110px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 258px;
  text-align: center;
}

/* Стили восьмого слайда */

.section8 #tarelkaa {
  background-image: url("../images/tarelkaaa.svg");
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mini-rectangle8 {
  position: absolute;
  width: 371px;
  height: 126px;
  background-color: #e84949;
  border: 1px solid #e84949;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  font-weight: bold;
  color: #fbf6ea;
  top: 85px;
  left: 85px;
}

.text-under8 {
  position: absolute;
  top: 281px;
  left: 85px;
  font-family: "Fira Code", monospace;
  font-size: 22px;
  color: #fbf6ea;
  max-width: 644px;
  text-align: left;
}

.glif {
  transform: rotate(-4deg);
  display: inline-block;
  position: absolute;
  top: 284px;
  left: 1092px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 104px;
  color: #fbf6ea;
}

.glif1 {
  display: inline-block;
  position: absolute;
  top: 380px;
  left: 1052px;
  font-family: "Fira Code", monospace;
  font-size: 124px;
  color: #fbf6ea;
}

.glif2 {
  transform: rotate(2deg);
  display: inline-block;
  position: absolute;
  top: 330px;
  left: 970px;
  font-family: "Fira Code", monospace;
  font-size: 124px;
  color: #fbf6ea;
}

.glif3 {
  transform: rotate(-30deg);
  display: inline-block;
  position: absolute;
  top: 370px;
  left: 1170px;
  font-family: "Fira Code", monospace;
  font-size: 124px;
  color: #fbf6ea;
}

.glif4 {
  transform: rotate(158deg);
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 1145px;
  font-family: "Fira Code", monospace;
  font-size: 104px;
  color: #fbf6ea;
}

.glif5 {
  transform: rotate(-59deg);
  display: inline-block;
  position: absolute;
  top: 425px;
  left: 1050px;
  font-family: "Fira Code", monospace;
  font-size: 124px;
  color: #fbf6ea;
}

.glif6 {
  transform: rotate(2deg);
  display: inline-block;
  position: absolute;
  top: 430px;
  left: 940px;
  font-family: "Fira Code", monospace;
  font-size: 130px;
  color: #fbf6ea;
}

.glif7 {
  transform: rotate(2deg);
  display: inline-block;
  position: absolute;
  top: 540px;
  left: 1174px;
  font-family: "Fira Code", monospace;
  font-size: 67px;
  color: #fbf6ea;
}

.glif8 {
  transform: rotate(30deg);
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 1110px;
  font-family: "Fira Code", monospace;
  font-size: 103px;
  color: #fbf6ea;
}

.glif9 {
  transform: rotate(35deg);
  display: inline-block;
  position: absolute;
  top: 520px;
  left: 1020px;
  font-family: "Fira Code", monospace;
  font-size: 95px;
  color: #fbf6ea;
}

.glif10 {
  transform: rotate(-102deg);
  display: inline-block;
  position: absolute;
  top: 510px;
  left: 950px;
  font-family: "Fira Code", monospace;
  font-size: 124px;
  color: #fbf6ea;
}

/* Стили девятого слайда */

.section9 #chekk {
  background-image: url("../images/chekk.svg");
  background-size: cover;
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section9 #logohse {
  background-image: url("../images/logohse.svg");
  width: 1440px;
  height: 600px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10; /* Установите значение больше, чем у других элементов */
}

.textend {
  position: absolute;
  top: 129px;
  left: 584px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 39px;
  color: #2e358d;
  max-width: 500px;
  text-align: center;
}

.custom-line6 {
  width: 343px;
  height: 2px;
  background-color: #2e358d;
  position: absolute;
  top: 246px;
  left: 541px;
}

.textend1 {
  position: absolute;
  top: 276px;
  left: 561px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.textend2 {
  position: absolute;
  top: 321px;
  left: 561px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.textend3 {
  position: absolute;
  top: 366px;
  left: 561px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.textend4 {
  position: absolute;
  top: 276px;
  left: 710px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.textend5 {
  position: absolute;
  top: 321px;
  left: 796px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.textend6 {
  position: absolute;
  top: 366px;
  left: 739px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #2e358d;
  max-width: 500px;
}

.custom-line7 {
  width: 343px;
  height: 2px;
  background-color: #2e358d;
  position: absolute;
  top: 417px;
  left: 541px;
}

.textend7 {
  position: absolute;
  top: 474px;
  left: 594px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 22px;
  color: #2e358d;
  max-width: 500px;
  text-align: center;
}

/* Стили для фона */
.bg-white1 {
  background-color: #fbf6ea;
  width: 1440px;
  height: 900px;
}
.bg-blue {
  background-color: #2e358d;
  width: 1440px;
  height: 909px;
}
.bg-white2 {
  background-color: #fbf6ea;
  width: 1440px;
  height: 958px;
}

.bg-white3 {
  background-color: #fbf6ea;
  width: 1440px;
  height: 800px;
}

.bg-blue2 {
  background-color: #2e358d;
  width: 1440px;
  height: 900px;
}

.bg-white4 {
  background-color: #fbf6ea;
  width: 1440px;
  height: 1030px;
}

.bg-blue3 {
  background-color: #2e358d;
  width: 1440px;
  height: 900px;
}

.bg-blue4 {
  background-color: #2e358d;
  width: 1440px;
  height: 900px;
}

.bg-red {
  background-color: #e84949;
  width: 1440px;
  height: 600px;
}

.container {
  display: flex;
  gap: 0px;
  padding: 0px;
  background-color: #fbf6ea;
  flex-direction: column;
}
